<h1 class="techHeader">Technologies</h1>
<div class="tableContainer">
  <table class="dataTable">
    <tr>
      <th class="headers" *ngFor="let header of headers">
        {{ header }}
      </th>
    </tr>

    <tr *ngFor="let tech of technologies">
      <td>
        {{ tech.name }}
      </td>
      <td>
        {{ tech.age }}
      </td>
      <td>
        {{ tech.cost.Wood }}
      </td>
      <td>
        {{ tech.cost.Food }}
      </td>
      <td>
        {{ tech.cost.Stone }}
      </td>
      <td>
        {{ tech.cost.Gold }}
      </td>
      <td>
        {{ tech.description }}
      </td>
    </tr>
  </table>
</div>
