<h1 class="structHeader">Structures</h1>
<div class="tableContainer">
  <table class="dataTable">
    <tr>
      <th class="headers" *ngFor="let header of headers">
        {{ header }}
      </th>
    </tr>

    <tr *ngFor="let struct of structures">
      <td>
        {{ struct.name }}
      </td>
      <td>
        {{ struct.age }}
      </td>
      <td>
        {{ struct.cost.Wood }}
      </td>
      <td>
        {{ struct.cost.Stone }}
      </td>
      <td>
        {{ struct.cost.Gold }}
      </td>
      <td>
        <button
          [routerLink]="['/structure', struct.id]"
          routerLinkActive="active"
        >
          >>>
        </button>
      </td>
    </tr>
  </table>
</div>
