<h1 class="structHeader">
  {{ structure.name }}
</h1>

<div>
  <div>{{ structure.name }}</div>
  <div>{{ structure.description }}</div>
  <div>{{ structure.expansion }}</div>
  <div>{{ structure.age }}</div>
  <div>{{ structure.cost.Wood }}</div>
  <div>{{ structure.cost.Food }}</div>
  <div>{{ structure.cost.Stone }}</div>
  <div>{{ structure.cost.Stone }}</div>
  <div>{{ structure.build_time }}</div>
  <div>{{ structure.hit_points }}</div>
  <div>{{ structure.line_of_sight }}</div>
  <div>{{ structure.armor }}</div>
  <div>{{ structure.range }}</div>
  <div>{{ structure.relode_time }}</div>
  <div>{{ structure.attack }}</div>
  <div>{{ structure.special }}</div>
</div>
