<h1 class="componentHeader">
  {{ building.name }}
</h1>

<div class="detailView">
  <div class="pictures">
    <img class="image" src="../../../../assets/img/placeholder.png" />
  </div>

  <div class="stringData">
    <ul>
      <li>Building description: {{ building.description }}</li>
      <li>Buildble at: {{ building.age }}</li>
      <li>Building cost</li>
      <ul>
        <li *ngIf="building.cost.Wood != undefined">
          {{ building.cost.Wood }} wood
        </li>
        <li *ngIf="building.cost.Food != undefined">
          {{ building.cost.Food }} food
        </li>
        <li *ngIf="building.cost.Stone != undefined">
          {{ building.cost.Stone }} stone
        </li>
        <li *ngIf="building.cost.Gold != undefined">
          {{ building.cost.Gold }} gold
        </li>
      </ul>
      <li>Building time: {{ building.build_time }} second</li>
      <li>Building HP:</li>
      <ul *ngFor="let hp of building.hit_points">
        <li>{{ hp }}</li>
      </ul>
      <li>Building line of sight: {{ building.line_of_sight }}</li>
      <li>Building armor:</li>
      <ul *ngFor="let armor of building.armor">
        <li>
          {{ armor }}
        </li>
      </ul>
      <li *ngIf="building.range != undefined">
        Building attack range: {{ building.range }}
      </li>
      <li *ngIf="building.attack != undefined">
        Building damage: {{ building.attack }}
      </li>
      <li *ngIf="building.rate_of_fire != undefined">
        Building relode time: {{ building.rate_of_fire }}
      </li>
      <li *ngIf="building.special != undefined">Building special(s)</li>
      <ul>
        <li *ngFor="let special of building.special">{{ special }}</li>
      </ul>
    </ul>
  </div>
</div>
