<h1 class="componentHeader">
  {{ civilization.name }}
</h1>

<div class="detailView">
  <div class="pictures">
    <img class="image" src="../../../../assets/img/placeholder.png" />
  </div>

  <div class="stringData">
    <ul>
      <li>
        Description:
        {{ civilization.description }}
      </li>
      <li>
        Continent:
        {{ civilization.continent }}
      </li>
      <li>Army focus:</li>
      <ul>
        <li *ngFor="let army_focus of civilization.army_focus">
          {{ army_focus }}
        </li>
      </ul>
      <li>Unique units:</li>
      <ul>
        <li *ngFor="let units of civilization.unique_units">
          {{ units }}
        </li>
      </ul>
      <li>Unique technologies:</li>
      <ul>
        <li *ngFor="let tech of civilization.unique_technologies">
          {{ tech }}
        </li>
      </ul>
      <li>Civilization bonuses:</li>
      <ul>
        <li
          *ngFor="let civilization_bonuses of civilization.civilization_bonuses"
        >
          {{ civilization_bonuses }}
        </li>
      </ul>
      <li>
        Team bonus:
        {{ civilization.team_bonus }}
      </li>
      <li>
        Wonder:
        {{ civilization.wonder }}
      </li>
    </ul>
  </div>
</div>
