<h1 class="componentHeader">
  {{ civilization.name }}
</h1>

<div class="detailView">
  <div class="pictures">
    <img class="image" src="../../../../assets/img/placeholder.png" />
  </div>

  <div class="stringData">
    <ul>
      <li>
        Expansion:
        {{ civilization.expansion }}
      </li>
      <li>
        Army type:
        {{ civilization.army_type }}
      </li>
      <li>
        Team Bonus:
        {{ civilization.team_bonus }}
      </li>
      <li>Civilization bonus:</li>
      <ul>
        <li *ngFor="let bonus of civilization.civilization_bonus">
          {{ bonus }}
        </li>
      </ul>
      <li *ngFor="let unit of uniqueUnites">
        Unique unites:
        {{ unit }}
      </li>
      <li *ngFor="let tech of uniqueTechs">
        Unique technologies:
        {{ tech }}
      </li>
    </ul>
  </div>
</div>
