<h1 class="componentHeader">
  {{ civilization.name }}
</h1>

<div class="start">
  <hr />
  <img class="civIcon" src="{{ civilization.img }}" />
  <p class="description">{{ civilization.description }}</p>
  <hr />
</div>

<div class="middle">
  <h2>Civilization uniqueness and bonuses</h2>
  <p class="armyFocus" *ngIf="civilization.army_focus.length == 1">
    <strong>Civilization focuses on {{ civilization.army_focus }}</strong>
  </p>
  <p class="armyFocus" *ngIf="civilization.army_focus.length == 2">
    <strong
      >Civilization focuses on {{ civilization.army_focus[0] }} and
      {{ civilization.army_focus[1] }}</strong
    >
  </p>
  <strong><p>Unique technologies</p></strong>
  <ul class="uniqueTech">
    <li class="tech1">{{ civilization.unique_technologies[0] }}</li>
    <li class="tech2">{{ civilization.unique_technologies[1] }}</li>
  </ul>

  <strong><p>Unique unit(s)</p></strong>
  <ul>
    <li *ngFor="let units of civilization.unique_units">{{ units }}</li>
  </ul>

  <strong><p>Civilization bonuses</p></strong>
  <ul>
    <li *ngFor="let civBonuses of civilization.civilization_bonuses">
      {{ civBonuses }}
    </li>
  </ul>

  <strong><p>Team bonus</p></strong>
  <ul>
    <li>
      {{ civilization.team_bonus }}
    </li>
  </ul>

  <p>
    The Wonder of the {{ civilization.name }}, the {{ civilization.wonder }}
  </p>
</div>
