.civCardContainer {
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin: auto;
  padding-inline: 200px;
  padding-bottom: 2rem;
}

.civCard {
  width: 150px;
  height: 140px;
  display: inline;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}

.civCard:hover {
  cursor: pointer;
}

.civCardImg {
  min-height: 130px;
  max-width: 150px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid hsl(39, 87%, 41%);
  overflow: hidden;
  background-color: hsl(39, 100%, 75%);
  box-shadow: 18px 18px 30px -5px black;
}

.civCardName {
  height: 30px;
  font-size: 1.6rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  border-inline: 2px solid hsl(39, 87%, 41%);
  border-top: 2px solid hsl(39, 87%, 41%);
  background-color: hsl(352, 88%, 29%);
  color: hsl(45, 93%, 65%);
}

.civImage {
  max-height: 120px;
  max-width: 120px;
  margin-left: 15px;
}

.civIcon {
  max-height: 120px;
  max-width: 120px;
  display: inline;
  float: left;
  margin-right: 10px;
}

.description {
  font-size: 1.5rem;
  margin-left: 125px;
  text-align: justify;
}

.start {
  width: 60vw;
  margin-left: 20vw;
}

hr {
  background-color: hsl(352, 88%, 29%);
  height: 2px;
  border: 0px;
}

.middle {
  width: 80vw;
  margin-left: 10vw;
  font-size: 1.3rem;
  padding-block: 20px;
}

.armyFocus {
  margin-top: 0px;
  font-size: 1.2rem;
}

h2 {
  margin-bottom: 10px;
}

.tech1,
.tech2 {
  list-style: none;
}

.tech1::before {
  content: url("../img/utility/UniqueTechCastle.png");
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.tech2::before {
  content: url("../img/utility/UniqueTechImperial.png");
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .civCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    padding-inline: 20px;
  }

  .civCard {
    width: 120px;
    height: 100px;
  }

  .civCardImg {
    max-width: 120px;
    min-height: 100px;
  }

  .civCardName {
    height: 25px;
    font-size: 1.2rem;
  }

  .civImage {
    max-height: 90px;
    max-width: 90px;
    margin-left: 15px;
  }

  .description {
    font-size: 1.2rem;
    margin-left: 0px;
  }
}

/*Laptop and Tablet*/
@media only screen and (max-width: 1000px) {
  .civCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding-inline: 20px;
  }

  .civCard {
    width: 140px;
    height: 120px;
  }

  .civCardImg {
    max-width: 140px;
    min-height: 120px;
  }

  .civCardName {
    height: 25px;
    font-size: 1.4rem;
  }

  .civImage {
    max-height: 110px;
    max-width: 110px;
    margin-left: 15px;
  }

  .description {
    margin-left: 0px;
  }
}
