.structHeader {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.dataTable {
  table-layout: fixed;
  width: 200px;
}

th,
td {
  text-align: left;
  width: 200px;
  background-color: burlywood;
}

.headers {
  width: 300px;
  background-color: bisque;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
