<h1 class="civHeader">Civilizations</h1>
<div class="tableContainer">
  <table class="dataTable">
    <tr>
      <th class="headers" *ngFor="let header of headers">
        {{ header }}
      </th>
    </tr>

    <tr *ngFor="let civ of civilizations">
      <td class="civName">
        {{ civ.name }}
      </td>
      <td>
        {{ civ.expansion }}
      </td>
      <td>
        {{ civ.army_type }}
      </td>
      <td>
        {{ civ.team_bonus }}
      </td>
      <td>
        <button
          [routerLink]="['/civilization', civ.id]"
          routerLinkActive="active"
        >
          >>>
        </button>
      </td>
    </tr>
  </table>
</div>
