<h1 class="componentHeader">
  {{ technology.name }}
</h1>

<div class="detailView">
  <div class="pictures">
    <img class="image" src="../../../../assets/img/placeholder.png" />
  </div>

  <div class="stringData">
    <ul>
      <li>Technology description: {{ technology.description }}</li>
      <li>Available from: {{ technology.age }} age</li>
      <li>Researched at: {{ technology.researched_at }}</li>
      <li>Cost</li>
      <ul>
        <li *ngIf="technology.cost.wood != undefined">
          {{ technology.cost.wood }} wood
        </li>
        <li *ngIf="technology.cost.food != undefined">
          {{ technology.cost.food }} food
        </li>
        <li *ngIf="technology.cost.stone != undefined">
          {{ technology.cost.stone }} stone
        </li>
        <li *ngIf="technology.cost.gold != undefined">
          {{ technology.cost.gold }} gold
        </li>
      </ul>
      <li>Research time: {{ technology.research_time }} second</li>
      <li>Applies to</li>
      <ul *ngFor="let applies of technology.applies_to">
        <li *ngFor="let unit of units">{{ unit }}</li>
        <li *ngIf="!applies.includes('https')">
          {{ applies }}
        </li>
      </ul>
    </ul>
  </div>
</div>
