<h1 class="componentHeader">
  {{ technology.name }}
</h1>

<div class="detailView">
  <div class="pictures">
    <img class="image" src="../../../../assets/img/placeholder.png" />
  </div>

  <div class="stringData">
    <ul>
      <li>Technology description: {{ technology.description }}</li>
      <li>Available from {{ technology.age }} age</li>
      <li>Develops in {{ building }}</li>
      <li>Cost</li>
      <ul>
        <li *ngIf="technology.cost.Wood != undefined">
          {{ technology.cost.Wood }} wood
        </li>
        <li *ngIf="technology.cost.Food != undefined">
          {{ technology.cost.Food }} food
        </li>
        <li *ngIf="technology.cost.Stone != undefined">
          {{ technology.cost.Stone }} stone
        </li>
        <li *ngIf="technology.cost.Gold != undefined">
          {{ technology.cost.Gold }} gold
        </li>
      </ul>
      <li>{{ technology.build_time }} second</li>
      <li>Applies to</li>
      <ul *ngFor="let applies of technology.applies_to">
        <li *ngFor="let unit of units">{{ unit }}</li>
        <li *ngIf="!applies.includes('https')">
          {{ applies }}
        </li>
      </ul>
    </ul>
  </div>
</div>
