<h1 class="componentHeader">
  {{ unit.name }}
</h1>

<div class="detailView">
  <div class="pictures">
    <img class="image" src="../../../../assets/img/placeholder.png" />
  </div>

  <div class="stringData">
    <ul>
      <li>Unit description: {{ unit.description }}</li>
      <li>Recruit age: {{ unit.age }}</li>
      <li>Cost</li>
      <ul>
        <li *ngIf="unit.cost.Wood != undefined">{{ unit.cost.Wood }} wood</li>
        <li *ngIf="unit.cost.Food != undefined">{{ unit.cost.Food }} food</li>
        <li *ngIf="unit.cost.Stone != undefined">
          {{ unit.cost.Stone }} stone
        </li>
        <li *ngIf="unit.cost.Gold != undefined">{{ unit.cost.Gold }} gold</li>
      </ul>
      <li>Recruited in: {{ building }}</li>
      <li>Recruit time: {{ unit.build_time }} second</li>
      <li>Line of sight: {{ unit.line_of_sight }}</li>
      <li>HP: {{ unit.hit_points }}</li>
      <li>Damage: {{ unit.attack }}</li>
      <li *ngIf="unit.attack_bonus != undefined">
        Damage bonus: {{ unit.attack_bonus }}
      </li>
      <li>Armor: {{ unit.armor }}</li>
      <li *ngIf="unit.armor_bonus != undefined">
        Armor bonus: {{ unit.armor_bonus }}
      </li>
      <li *ngIf="unit.relode_time != undefined">
        Relode time: {{ unit.relode_time }}
      </li>
      <li>Accuracy: {{ unit.accuracy }}</li>
      <li *ngIf="unit.blast_radius != undefined">
        Blast radius: {{ unit.blast_radius }} m
      </li>
    </ul>
  </div>
</div>
