<h1 class="unitHeader">
  {{ unit.name }}
</h1>

<div>
  <div>{{ unit.description }}</div>
  <div>{{ unit.expansion }}</div>
  <div>{{ unit.age }}</div>
  <div>{{ unit.cost.Wood }}</div>
  <div>{{ unit.cost.Food }}</div>
  <div>{{ unit.cost.Stone }}</div>
  <div>{{ unit.cost.Gold }}</div>
  <div>{{ building }}</div>
  <div>{{ unit.build_time }}</div>
  <div>{{ unit.relode_time }}</div>
  <div>{{ unit.attack_delay }}</div>
  <div>{{ unit.movment_rate }}</div>
  <div>{{ unit.line_of_sight }}</div>
  <div>{{ unit.hit_points }}</div>
  <div>{{ unit.range }}</div>
  <div>{{ unit.attack }}</div>
  <div>{{ unit.armor }}</div>
  <div>{{ unit.attack_bonus }}</div>
  <div>{{ unit.armor_bonus }}</div>
  <div>{{ unit.search_radius }}</div>
  <div>{{ unit.accuracy }}</div>
  <div>{{ unit.blast_radius }}</div>
</div>
