<div class="content">
  <header class="homeHeader">
    <h1 class="logoTop">Age</h1>
    <h2 class="logoMid">Of</h2>
    <h1 class="logoBot">Empires</h1>
    <h1 class="logoNum">II</h1>
  </header>
  <div class="cards">
    <div class="civCard" routerLink="/civilizations" routerLinkActive="active">
      <div class="cardName">Civilizations</div>
    </div>
    <div class="unitsCard" routerLink="/units" routerLinkActive="active">
      <div class="cardName">Units</div>
    </div>
    <div class="structCard" routerLink="/structures" routerLinkActive="active">
      <div class="cardName">Structures</div>
    </div>
    <div class="techCard" routerLink="/technologies" routerLinkActive="active">
      <div class="cardName">Technologies</div>
    </div>
  </div>
</div>
<div>
  <footer class="footerContainer">
    <a href="https://github.com/CsalaPeter/age-of-angular">
      <img class="gitHub" alt="GitHub" />
    </a>
    <a href="https://www.linkedin.com/in/péter-csala-553b6622b/">
      <img class="linkedIn" alt="LinkedIn" />
    </a>
  </footer>
</div>
